<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery. A gallery has a total of 68,702 widgets used by Android developers, and are gleaned from the Google Play Store (mui-collection.herokuapp.com)">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">

    <title>123</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">

    <!-- Style-CSS -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->

    <!-- //Custom-Files -->
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- //Custom-Files -->
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" type="text/css" href="css/tuodong.css" />

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- <button class="mouseoveropen">指向弹出</button> -->

        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-center col-12">
                    <h1>Test</h1>
                </div>
            </div>
            <div class="row">
                <div class="left col-4">
                    <div class="list">
                        <h2>Types</h2>
                        <ul class="type">
                            <li data-type="1" class="active">Button</li>
                            <li data-type="2">Image</li>
                            <li data-type="3">Input</li>
                            <li data-type="4">Custom</li>
                        </ul>
                    </div>
                    <div class="pic">
                        <h2>Components</h2>
                        <ul id="button" class="on"></ul>
                        <ul id="img"></ul>
                        <ul id="input"></ul>
                        <ul >
                            <li class="addimg">
                                <form enctype="multipart/form-data" name="form1">
                                    <a class="btn_addPic" href="javascript:void(0);"><span><em>+</em>Add Image</span><input id="f" class="filePrew" type="file" name="f" onchange="change()" title="支持jpg、jpeg、gif、png格式，文件小于5M" tabIndex="3" size="3"  /> </a>
                                        <img id="preview" alt="" name="pic" />
                                </form>
                            </li>
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                    <!-- <div class="wallcolor">
                        <h2>Color</h2>
                        <table class="boxbg">
                            <tbody>
                            <tr>
                                <td bgcolor="#000000"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div> <!-- left end -->

                <div class="right col-8">
                    <div class="my-custom-scrollbar ">
                        <div class="row">
                            <div class="box col-lg-6 col-lg-offset-3 text-center">
                            <!-- <div id="objects">
                                <div id="draggable_img_123" class="position-absolute" style="top: 0px; left: 0px;">
                                    <a data-toggle="tooltip" data-placement="right" title="123">
                                        <img src="images/clip/img/0.png" id="draggable_img_123header">
                                    </a>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div> <!-- right end -->

            </div> <!-- row end --> 
        </div> <!-- room end -->

    <!-- jquery -->
    <script src="javascripts/js/jquery.js"></script>
    <!--jquery-ui.min.js-->
    <script src="javascripts/js/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--Custom JS-->
    <script src="javascripts/index.js"></script>

    <script>
        var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
        var ps = new PerfectScrollbar(myCustomScrollbar);
        var scrollbarY = myCustomScrollbar.querySelector('.ps.ps--active-y>.ps__scrollbar-y-rail');
        myCustomScrollbar.onscroll = function() {
        scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
        }
    </script>

    <script type="text/javascript" language=JavaScript charset="UTF-8">
        window.onload = function () {
            scale = 0.5;
            resize(scale);
            // draggable and resizable
            set_drag(scale);
            $('.image').resizable();

            // attach keyDown event
            document.addEventListener("keydown", keyDownHandler, false);
            document.getElementsByClassName("pic")[0].addEventListener("click", dragandresize);
        };
        function keyDownHandler(e) {
            var keyCode = e.keyCode;
            var myNode = document.getElementsByClassName("active1");
            console.log(myNode)
            // if DELETE or BACKSPACE
            if (keyCode == 8 || keyCode == 46) {
                while(myNode.length > 0){
                    document.getElementsByClassName("box")[0].removeChild(myNode[0].parentNode.parentNode.parentNode);
                };
            }else if (keyCode == 187){
                scale += 0.1;
                resize(scale);
                set_drag(scale)
            }else if (keyCode == 189){
                scale -= 0.1;
                resize(scale);
                set_drag(scale)
            };
        };
        function dragandresize() {
            $('.draggable').draggable();
            $('.image').resizable({});
        };
        function resize(scale){
            document.getElementsByClassName("box")[0].style.transform = "scale("+scale+")"
        }
        function set_drag(s){
            var click = {x: 0,y: 0}
            $('.draggable').draggable({start: function(event) {
                click.x = event.clientX;
                click.y = event.clientY;
            },
            drag: function(event, ui) {
                var zoom = s;
                var original = ui.originalPosition;
                ui.position = {
                    left: (event.clientX - click.x + original.left) / zoom,
                    top:  (event.clientY - click.y + original.top ) / zoom
                };
            }});
        }
    </script>
<!-- 
    <script>
        $(document).ready(function() {
            /* triggered when stop resizing an object */
            
        });
    </script> -->


</body>
</html>
