html, body {
	height: 100%;
}
h1, h2, h3, ul, li, p {
	margin:0;
	padding:0
}
ul, li {
	list-style:none;
}
#moveid{
cursor:move;
}
.wallcolor table,.wallcolor td {
	border:1px #eee solid;
	padding:0;
	border-spacing: 0px;
	cursor:pointer;
}
.boxbg {
	margin-top:10px;
	width:300px;
	height:100px;
}

.abtn {
width:auto;
height: 35px;
float: right;
cursor: pointer;
margin-top: 5px;
}
.artisoovideo{
float:right;
height:32px;
width:32px;
margin:5px 2px 0 0;
cursor: pointer;
border:2px solid #ccc;
}
a.artisoovideo:hover{
border:2px solid #D80555;
}
/* .view {
	width:100%;
	height:100%;
	position:absolute;
	z-index:10000;
	display:none;
	top:0;
	left:0;
} */


.left h2 {
	font-size: 12px;
    background: url(../img/menu_bg.png) repeat-x;
	text-align:center;
	padding:5px;
	color:#333;
	font:Tahoma, Geneva, sans-serif;

}
.left .wallcolor h2{ width:291px;
}
.left {
	float:left;
    /* background:#d3dadf; */
	padding-right:0px;
	padding-left:0px;
 	z-index:190;
}
.left .list {
	float:left;
	width:120px;
	margin-right:5px;
}
.list ul {
	margin:5px 0;
}
.type span ,.list li {
	line-height:22px;
	text-indent:15px;
	cursor:pointer;
	display:block;
	background-image: url(../img/icon_05.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	background-color: #c5d0d8;
}
.list li:hover,.type span:hover {background-color:#e9edef;}

.list li.active,.list span.active {
	background-color:#8299aa;
}
.left .pic {
	width:240px;
	float:left;
	background:#c5d0d8;
}
.left .pic ul {
	padding:3px;
	display:none;
	height:226px;
	overflow:auto;
}
.left .pic ul.on{
	display:block;
}
.left .pic li {
	width:110px;
	height:49px;
	/* padding:2px; */
	border:1px solid #c5d0d8;
	margin-bottom:2px;
	float:left;
}
.left .pic img {
	/* width:80px; */
	max-height:60px;
	max-width: 120px;
	/* padding-left: 10px; */
	cursor:pointer;
}
.left .upbtn {
	width:178px;
	height:22px;
	background:#ddd;
	margin-top:5px;
	float:left;
}
.right {
	/* float:right; */
	float:left;
	width:580px;
	z-index:198;
}
.right .photo {
	height:340px;
	padding:10px;
	margin:10px 0;
	border:1px #ddd dashed;
	position:relative;
}
.right .photo img {
	position:absolute;
}
.right .tip {
	background:#ddd;
	line-height:20px;
	width:570px;
	padding:5px;
	float:left;
}
.right .tip p {
	font-size:14px;
	font-weight:bold;
	color:#666;
	width:360px;
	float:left;
	height:40px;
	margin:10px 0 0 0;
}
.right .tip .NPrice{
	color:#D80555;
}
.right .tip p b {
	font-size:18px;
	color:#D80555;
	margin:0 10px 0 5px;
	width:100px;
}
.right .tip p s{ width:100px;}
.left .wallcolor{float:left;width:305px}
.left .wallcolor h2{width:310px}
.left .list ul{height:auto;background-color: #c5d0d8;}
.right .note{	background:#ddd;
	line-height:20px;
	width:570px;
	padding:5px;
	float:left;
	margin-top:10px}
#Img{float:left;	margin-top:5px;}
.It1{min-height:430px}
/*优化input*/
.btn_addPic{
	display: block;
	position: relative;
	width: 160px;
	height: 39px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	background: none repeat scroll 0 0 #F3F3F3;
	color: #999999;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.btn_addPic span{display: block;line-height: 39px;}
.btn_addPic em {
	background:url(../img/t014ce592c1a0b2d489.png) 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
}
.btn_addPic:hover em{background-position:-19px 0;}
.filePrew {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 39px;
	font-size: 100px; /* 增大不同浏览器的可点击区域 */
	opacity: 0; /* 实现的关键点 */
	filter:alpha(opacity=0);/* 兼容IE */
	cursor:pointer;
}
.left .pic li.addimg{
	width:100%;
}
.left .pic .addimg img{
	width:160px;
	height:auto;
	margin-top:10px;
}
.llll{width:100%;height:100px;overflow:hidden;position: relative;background:#fff;z-index:10000;border: 1px #ddd dashed;}
/* #box { width: 200px; height: auto; cursor: move; position: absolute; top: 30px; left: 191px; background-color: #FFF; border: none;overflow: hidden;}
#box img{width:100%;vertical-align:top; } */
#coor { width: 10px; height: 10px; overflow: hidden; cursor: se-resize; position: absolute; right: 0; bottom: 0; background-color: #09C; }
body { background-color: #F3F3F3; }

.conceal{width: 100%;height: 100%;background: #000;position: absolute;top: 0px;left: 0px;display: none;z-index: 100;}

.my-custom-scrollbar {
	position: relative;
	width: auto;
	height: 580px; 
	overflow: auto;
	background: url(../images/trans.png) repeat;
  }

/* #draggable_img_24,#draggable_img_23 {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
  } */

.box {
	position: relative;
}


/* img:active{
	border-style: solid;
  border-color: red;
} */